html {
    margin:0;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    top: 0;
    right: 0;
}
.portfolio-hero {
    background: url(Wonderland.jpg) no-repeat center center fixed;
    height: 100vh;
    background-size: cover;
    text-align: center;
    color: white;
}
.portfolio-menu ul {
    margin: 0;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-size: 1.5rem;
}
.portfolio-menu ul li{
    margin: 0px 10px;
    list-style: none;
}
.portfolio-menu .menu-item a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.portfolio-profile {
    width: 650px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 50%);
    text-align: center;
}
.portfolio-profile img {
    height: 275px;
    width: 250px;
    border-radius: 50%;
}
.portfolio-profile h1 {
    font-weight: 300;
    margin: 15px;
    font-size: 3.2rem;
    color: black;
}
.portfolio-profile h2 {
    font-weight: 300;
    margin: 0px;
    font-size: 2.3rem;
    color: black;
}

/* MAIN */

main {
    background-color: grey;
    margin: 0;
    padding: 0;
    text-align: center;

}
#about {
    padding: 45px;
    margin: 0;
    
    color: white;
}
#about h2{
    padding: 0px;
    
}